In [12]:
import pandas as pd

# # Função para ler as bases "b" e "c" com delimitadores personalizados
# def read_custom_csv(filename, date_column, separator):
#     return pd.read_csv(filename, parse_dates=[date_column], delimiter=separator)

price_coffee = pd.read_csv('C:/Users/milen/OneDrive/Documentos/TCC/Bases/price_coffee.csv')
# Ler a base "b"
ibovespa = pd.read_csv('C:/Users/milen/OneDrive/Documentos/TCC/Bases/ibovespa.csv')
# Ler a base "c" sem a especificação do delimitador
cidades_all = pd.read_csv('C:/Users/milen/OneDrive/Documentos/TCC/Bases/cidades_all.csv')

In [11]:
cidades_all

,Data Medicao,PT1,PA1,TPO1,TMA1,TME1,TMI1,URA1,URAMI1,VRMA1,...,PT6,PA6,TPO6,TMA6,TME6,TMI6,URA6,URAMI6,VRMA6,VVME6
0,2004-12-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2004-12-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,66.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2004-12-20,1.0,845.0,16.0,24.0,19.0,16.0,83.0,59.0,8.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2004-12-21,11.0,846.0,14.0,19.0,15.0,15.0,90.0,61.0,11.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2004-12-22,18.0,846.0,11.0,15.0,13.0,11.0,90.0,81.0,11.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6886,2023-10-26,0.0,843.0,15.0,23.0,18.0,15.0,82.0,61.0,8.0,...,NaN,903.0,18.0,30.0,23.0,18.0,76.0,47.0,9.0,2.0
6887,2023-10-27,9.0,845.0,15.0,23.0,18.0,14.0,80.0,58.0,12.0,...,NaN,906.0,19.0,29.0,23.0,19.0,81.0,52.0,7.0,1.0
6888,2023-10-28,28.0,846.0,14.0,22.0,18.0,16.0,79.0,63.0,10.0,...,NaN,907.0,19.0,25.0,21.0,19.0,84.0,70.0,8.0,2.0
6889,2023-10-29,1.0,846.0,15.0,24.0,19.0,17.0,81.0,57.0,11.0,...,NaN,907.0,19.0,31.0,23.0,19.0,80.0,52.0,18.0,2.0
6890,2023-10-30,18.0,847.0,16.0,25.0,20.0,17.0,81.0,49.0,9.0,...,NaN,907.0,19.0,30.0,23.0,19.0,81.0,52.0,10.0,1.0

In [13]:
# Converter a coluna de datas em datetime
price_coffee['Data'] = pd.to_datetime(price_coffee['Data'])
ibovespa['Data'] = pd.to_datetime(ibovespa['Data'])
cidades_all['Data'] = pd.to_datetime(cidades_all['Data'])

# Criar um conjunto de datas da base "a" para usar como referência
datas_base_a = set(price_coffee['Data'])

# Filtre as bases "b" e "c" para manter apenas as linhas com datas que existem na base "a"
ibovespa = ibovespa[ibovespa['Data'].isin(datas_base_a)]
cidades_all = cidades_all[cidades_all['Data'].isin(datas_base_a)]

In [14]:
import pandas as pd

# Suponha que a base "c" comece em 2006-08-23 (substitua a data real)
data_inicio_base_b = pd.to_datetime('2004-12-20')

# Converter a coluna de datas em datetime
price_coffee['Data'] = pd.to_datetime(price_coffee['Data'])
ibovespa['Data'] = pd.to_datetime(ibovespa['Data'])
cidades_all['Data'] = pd.to_datetime(cidades_all['Data'])

# Filtre a base "a" para manter apenas as datas a partir da data de início da base "c"
price_coffee = price_coffee[price_coffee['Data'] >= data_inicio_base_b]

# Filtre a base "b" para manter apenas as datas a partir da data de início da base "c"
cidades_all = cidades_all[cidades_all['Data'] >= data_inicio_base_b]

In [15]:
# Exportar base "a" para CSV
price_coffee.to_csv('C:/Users/milen/OneDrive/Documentos/TCC/Bases/price_coffee_update.csv', index=False)

# Exportar base "b" para CSV
ibovespa.to_csv('C:/Users/milen/OneDrive/Documentos/TCC/Bases/weater_update.csv', index=False)

# Exportar base "c" para CSV
cidades_all.to_csv('C:/Users/milen/OneDrive/Documentos/TCC/Bases/ibovespa_updatd.csv', index=False)